.plan {
  padding: 1.5rem;
  border: .0625rem solid var(--color-border);
  color: #b5b07a;
  background-color: #103126;
  background-image: linear-gradient(#dad39106 .0625rem, transparent .0625rem), linear-gradient(90deg, #dad39106 .0625rem, transparent .0625rem);
  background-size: 1.25rem 1.25rem;
  svg { display: block; width: 100%; height: auto; }
  figcaption { margin-top: .5rem; font: .5rem/1.5 var(--font-body); letter-spacing: .08em; }
}
